# Geany Base16 Template
# Rob Loach (http://robloach.net)
#
# Copyright (c) 2013 Rob Loach
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

[theme_info]
name=Base16 {{scheme-name}}
description=Base16 {{scheme-name}} by {{scheme-author}}
author={{scheme-author}}

[named_colors]
# Guidelines: https://github.com/chriskempson/base16/blob/main/styling.md
# Colors in this scheme:
base00=#{{base00-hex}}
base01=#{{base01-hex}}
base02=#{{base02-hex}}
base03=#{{base03-hex}}
base04=#{{base04-hex}}
base05=#{{base05-hex}}
base06=#{{base06-hex}}
base07=#{{base07-hex}}
base08=#{{base08-hex}}
base09=#{{base09-hex}}
base0A=#{{base0A-hex}}
base0B=#{{base0B-hex}}
base0C=#{{base0C-hex}}
base0D=#{{base0D-hex}}
base0E=#{{base0E-hex}}
base0F=#{{base0F-hex}}

[named_styles]

default=base05;base00;false;false
error=base08

# Editor Styles
#-------------------------------------------------------------------------------
selection=#000;base04;false;true
current_line=;base01;true;false
brace_good=base0B;base01;true;false
brace_bad=base08;base01;true;false
margin_line_number=base04;base01
margin_folding=base03;base00
fold_symbol_highlight=base00
indent_guide=base03
caret=base06
marker_line=base0B
marker_search=base07;base0B;false;false
marker_mark=base07;base0B;
call_tips=base04;;false;false
white_space=base03;;true;false

# Programming languages
#-------------------------------------------------------------------------------
comment=base03
comment_doc=comment
comment_line=comment
comment_line_doc=comment
comment_doc_keyword=comment;;true;false
comment_doc_keyword_error=comment;;false;true

number=base0B
number_1=base09
number_2=base09

type=base0A;;true
# Person.rb = Person
class=base0A;;true
# Person.rb = initialize
# PHP
function=base0D;;false;false
parameter=base06

keyword=base0F;;true;false
# Person.rb = class, include, def, end, attr_accessor, etc
# PHP = include_once(), if elseif else
keyword_1=base0E;;false;false
keyword_2=base09;;false;false
keyword_3=base05;;false;false
keyword_4=base09;;false;true

identifier=base05;;false;false
# Person.rb = ActiveModel::Conversion
identifier_1=base05;;false;false
identifier_2=base05;;false;false
identifier_3=base0D;;true;false
identifier_4=base0E;;false;false

string=base09
string_1=base0B
string_2=base0B
string_3=base05
string_4=base0D
string_eol=base0E;;false;true

character=string_1
backtick=base0A
here_doc=base0A
scalar=base0A
label=base06;;true;false
# Person.rb = :name
# PHP = $_GET
preprocessor=base0D
regex=number_1
operator=base0C;;false;false
decorator=base0D;;false;false
other=base08

# Markup-type languages
#-------------------------------------------------------------------------------
tag=base0A;;true;false
tag_unknown=base08;;true;false
tag_end=base0A;;false;false
attribute=base09;;false;false
attribute_unknown=base0B;;false;false
value=base0D
entity=base0A

# Diff
#-------------------------------------------------------------------------------
line_added=base0B
line_removed=base08
line_changed=base0D
