@import "../../_common.css";
/* Base16 {{scheme-name}} - Scheme author: {{scheme-author}} */
.pcpg .hll { background-color: #{{base02-hex}} }
pre.pcpg, code.pcpg { background: #{{base00-hex}}; color: #{{base05-hex}} }
.pcpg .c { color: #{{base03-hex}}; font-style: italic } /* Comment */
.pcpg .err { color: #{{base08-hex}} } /* Error */
.pcpg .esc { color: #{{base05-hex}} } /* Escape */
.pcpg .g { color: #{{base05-hex}} } /* Generic */
.pcpg .k { color: #{{base0E-hex}} } /* Keyword */
.pcpg .l { color: #{{base0B-hex}} } /* Literal */
.pcpg .n { color: #{{base05-hex}} } /* Name */
.pcpg .o { color: #{{base0C-hex}} } /* Operator */
.pcpg .x { color: #{{base05-hex}} } /* Other */
.pcpg .p { color: #{{base05-hex}} } /* Punctuation */
.pcpg .ch { color: #{{base03-hex}}; font-weight: bold } /* Comment.Hashbang */
.pcpg .cm { color: #{{base03-hex}}; font-style: italic } /* Comment.Multiline */
.pcpg .cp { color: #{{base0F-hex}} } /* Comment.Preproc */
.pcpg .cpf { color: #{{base0B-hex}}; font-style: italic } /* Comment.PreprocFile */
.pcpg .c1 { color: #{{base03-hex}}; font-style: italic } /* Comment.Single */
.pcpg .cs { color: #{{base03-hex}}; font-weight: bold } /* Comment.Special */
.pcpg .gd { color: #{{base08-hex}} } /* Generic.Deleted */
.pcpg .ge { color: #{{base05-hex}}; font-style: italic } /* Generic.Emph */
.pcpg .gr { color: #{{base00-hex}}; background-color: #{{base08-hex}} } /* Generic.Error */
.pcpg .gh { color: #{{base05-hex}}; font-weight: bold } /* Generic.Heading */
.pcpg .gi { color: #{{base0B-hex}} } /* Generic.Inserted */
.pcpg .go { color: #{{base05-hex}} } /* Generic.Output */
.pcpg .gp { color: #{{base05-hex}}; font-weight: bold } /* Generic.Prompt */
.pcpg .gs { color: #{{base05-hex}}; font-weight: bold } /* Generic.Strong */
.pcpg .gu { color: #{{base0D-hex}} } /* Generic.Subheading */
.pcpg .gt { color: #{{base05-hex}} } /* Generic.Traceback */
.pcpg .kc { color: #{{base08-hex}}; font-weight: bold } /* Keyword.Constant */
.pcpg .kd { color: #{{base0E-hex}} } /* Keyword.Declaration */
.pcpg .kn { color: #{{base0E-hex}} } /* Keyword.Namespace */
.pcpg .kp { color: #{{base0E-hex}} } /* Keyword.Pseudo */
.pcpg .kr { color: #{{base0E-hex}} } /* Keyword.Reserved */
.pcpg .kt { color: #{{base08-hex}} } /* Keyword.Type */
.pcpg .ld { color: #{{base0B-hex}}; font-weight: bold } /* Literal.Date */
.pcpg .m { color: #{{base09-hex}} } /* Literal.Number */
.pcpg .s { color: #{{base0B-hex}} } /* Literal.String */
.pcpg .na { color: #{{base0D-hex}} } /* Name.Attribute */
.pcpg .nb { color: #{{base0D-hex}} } /* Name.Builtin */
.pcpg .nc { color: #{{base0D-hex}} } /* Name.Class */
.pcpg .no { color: #{{base09-hex}} } /* Name.Constant */
.pcpg .nd { color: #{{base09-hex}} } /* Name.Decorator */
.pcpg .ni { color: #{{base0F-hex}}; font-weight: bold } /* Name.Entity */
.pcpg .ne { color: #{{base05-hex}} } /* Name.Exception */
.pcpg .nf { color: #{{base0D-hex}} } /* Name.Function */
.pcpg .nl { color: #{{base0D-hex}} } /* Name.Label */
.pcpg .nn { color: #{{base0D-hex}} } /* Name.Namespace */
.pcpg .nx { color: #{{base05-hex}} } /* Name.Other */
.pcpg .py { color: #{{base05-hex}} } /* Name.Property */
.pcpg .nt { color: #{{base0E-hex}} } /* Name.Tag */
.pcpg .nv { color: #{{base0D-hex}} } /* Name.Variable */
.pcpg .ow { color: #{{base0E-hex}} } /* Operator.Word */
.pcpg .pm { color: #{{base05-hex}} } /* Punctuation.Marker */
.pcpg .w { color: #{{base01-hex}} } /* Text.Whitespace */
.pcpg .mb { color: #{{base09-hex}} } /* Literal.Number.Bin */
.pcpg .mf { color: #{{base09-hex}} } /* Literal.Number.Float */
.pcpg .mh { color: #{{base09-hex}} } /* Literal.Number.Hex */
.pcpg .mi { color: #{{base09-hex}} } /* Literal.Number.Integer */
.pcpg .mo { color: #{{base09-hex}} } /* Literal.Number.Oct */
.pcpg .sa { color: #{{base0B-hex}}; font-weight: bold } /* Literal.String.Affix */
.pcpg .sb { color: #{{base09-hex}} } /* Literal.String.Backtick */
.pcpg .sc { color: #{{base0B-hex}} } /* Literal.String.Char */
.pcpg .dl { color: #{{base05-hex}}; font-weight: bold } /* Literal.String.Delimiter */
.pcpg .sd { color: #{{base0B-hex}}; font-style: italic } /* Literal.String.Doc */
.pcpg .s2 { color: #{{base0B-hex}} } /* Literal.String.Double */
.pcpg .se { color: #{{base0F-hex}}; font-weight: bold } /* Literal.String.Escape */
.pcpg .sh { color: #{{base05-hex}}; font-weight: bold } /* Literal.String.Heredoc */
.pcpg .si { color: #{{base0F-hex}} } /* Literal.String.Interpol */
.pcpg .sx { color: #{{base0B-hex}} } /* Literal.String.Other */
.pcpg .sr { color: #{{base0C-hex}}; font-weight: bold } /* Literal.String.Regex */
.pcpg .s1 { color: #{{base0B-hex}} } /* Literal.String.Single */
.pcpg .ss { color: #{{base09-hex}} } /* Literal.String.Symbol */
.pcpg .bp { color: #{{base08-hex}} } /* Name.Builtin.Pseudo */
.pcpg .fm { color: #{{base0D-hex}} } /* Name.Function.Magic */
.pcpg .vc { color: #{{base0D-hex}} } /* Name.Variable.Class */
.pcpg .vg { color: #{{base0D-hex}} } /* Name.Variable.Global */
.pcpg .vi { color: #{{base08-hex}} } /* Name.Variable.Instance */
.pcpg .vm { color: #{{base0D-hex}}; font-weight: bold } /* Name.Variable.Magic */
.pcpg .il { color: #{{base09-hex}} } /* Literal.Number.Integer.Long */