@import "../../_common.css";
/* Base16 {{scheme-name}} - Scheme author: {{scheme-author}} */
.pcpg .hll   { background-color: var(--base02,#{{ base02-hex }}) }
pre.pcpg,
code.pcpg    { color: var(--base05,#{{ base05-hex }}); background: var(--base01,#{{ base01-hex }}) }
.pcpg .c     { color: var(--base03,#{{ base03-hex }}) } /* Comment */
.pcpg .err   { color: var(--base0f,#{{ base0F-hex }}) } /* Error */
.pcpg .esc   { color: var(--base0c,#{{ base0C-hex }}) } /* Escape */
.pcpg .g     { color: var(--base05,#{{ base05-hex }}) } /* Generic */
.pcpg .k     { color: var(--base0e,#{{ base0E-hex }}) } /* Keyword */
.pcpg .l     { color: var(--base0b,#{{ base0B-hex }}) } /* Literal */
.pcpg .n     { color: var(--base04,#{{ base04-hex }}) } /* Name */
.pcpg .o     { color: var(--base04,#{{ base04-hex }}); font-weight: bold } /* Operator */
.pcpg .x     { color: var(--base05,#{{ base05-hex }}) } /* Other */
.pcpg .p     { color: var(--base04,#{{ base04-hex }}) } /* Punctuation */
.pcpg .ch    { color: var(--base04,#{{ base04-hex }}) } /* Comment.Hashbang */
.pcpg .cm    { color: var(--base03,#{{ base03-hex }}) } /* Comment.Multiline */
.pcpg .cp    { color: var(--base0c,#{{ base0C-hex }}) } /* Comment.Preproc */
.pcpg .cpf   { color: var(--base03,#{{ base03-hex }}) } /* Comment.PreprocFile */
.pcpg .c1    { color: var(--base03,#{{ base03-hex }}) } /* Comment.Single */
.pcpg .cs    { color: var(--base0d,#{{ base0D-hex }}) } /* Comment.Special */
.pcpg .gd    { color: var(--base08,#{{ base08-hex }}) } /* Generic.Deleted */
.pcpg .ge    { color: var(--base05,#{{ base05-hex }}); font-style: italic } /* Generic.Emph */
.pcpg .gr    { color: var(--base08,#{{ base08-hex }}) } /* Generic.Error */
.pcpg .gh    { color: var(--base05,#{{ base05-hex }}); font-weight: bold } /* Generic.Heading */
.pcpg .gi    { color: var(--base0b,#{{ base0B-hex }}) } /* Generic.Inserted */
.pcpg .go    { color: var(--base04,#{{ base04-hex }}) } /* Generic.Output */
.pcpg .gp    { color: var(--base05,#{{ base05-hex }}); font-weight: bold } /* Generic.Prompt */
.pcpg .gs    { color: var(--base05,#{{ base05-hex }}); font-weight: bold } /* Generic.Strong */
.pcpg .gu    { color: var(--base0d,#{{ base0D-hex }}) } /* Generic.Subheading */
.pcpg .gt    { color: var(--base04,#{{ base04-hex }}) } /* Generic.Traceback */
.pcpg .kc    { color: var(--base09,#{{ base09-hex }}) } /* Keyword.Constant */
.pcpg .kd    { color: var(--base0e,#{{ base0E-hex }}) } /* Keyword.Declaration */
.pcpg .kn    { color: var(--base0e,#{{ base0E-hex }}) } /* Keyword.Namespace */
.pcpg .kp    { color: var(--base0e,#{{ base0E-hex }}) } /* Keyword.Pseudo */
.pcpg .kr    { color: var(--base0e,#{{ base0E-hex }}) } /* Keyword.Reserved */
.pcpg .kt    { color: var(--base0e,#{{ base0E-hex }}) } /* Keyword.Type */
.pcpg .ld    { color: var(--base0b,#{{ base0B-hex }}); font-weight: bold } /* Literal.Date */
.pcpg .m     { color: var(--base09,#{{ base09-hex }}) } /* Literal.Number */
.pcpg .s     { color: var(--base08,#{{ base08-hex }}) } /* Literal.String */
.pcpg .na    { color: var(--base0d,#{{ base0D-hex }}) } /* Name.Attribute */
.pcpg .nb    { color: var(--base0e,#{{ base0E-hex }}) } /* Name.Builtin */
.pcpg .nc    { color: var(--base0a,#{{ base0A-hex }}) } /* Name.Class */
.pcpg .no    { color: var(--base09,#{{ base09-hex }}) } /* Name.Constant */
.pcpg .nd    { color: var(--base0e,#{{ base0E-hex }}) } /* Name.Decorator */
.pcpg .ni    { color: var(--base08,#{{ base08-hex }}); font-weight: bold } /* Name.Entity */
.pcpg .ne    { color: var(--base05,#{{ base05-hex }}) } /* Name.Exception */
.pcpg .nf    { color: var(--base0d,#{{ base0D-hex }}) } /* Name.Function */
.pcpg .nl    { color: var(--base0d,#{{ base0D-hex }}) } /* Name.Label */
.pcpg .nn    { color: var(--base0d,#{{ base0D-hex }}) } /* Name.Namespace */
.pcpg .nx    { color: var(--base04,#{{ base04-hex }}) } /* Name.Other */
.pcpg .py    { color: var(--base04,#{{ base04-hex }}) } /* Name.Property */
.pcpg .nt    { color: var(--base08,#{{ base08-hex }}) } /* Name.Tag */
.pcpg .nv    { color: var(--base08,#{{ base08-hex }}) } /* Name.Variable */
.pcpg .ow    { color: var(--base04,#{{ base04-hex }}); font-weight: bold } /* Operator.Word */
.pcpg .pm    { color: var(--base04,#{{ base04-hex }}) } /* Punctuation.Marker */
.pcpg .w     { color: var(--base03,#{{ base03-hex }}) } /* Text.Whitespace */
.pcpg .mb    { color: var(--base09,#{{ base09-hex }}) } /* Literal.Number.Bin */
.pcpg .mf    { color: var(--base09,#{{ base09-hex }}) } /* Literal.Number.Float */
.pcpg .mh    { color: var(--base09,#{{ base09-hex }}) } /* Literal.Number.Hex */
.pcpg .mi    { color: var(--base09,#{{ base09-hex }}) } /* Literal.Number.Integer */
.pcpg .mo    { color: var(--base09,#{{ base09-hex }}) } /* Literal.Number.Oct */
.pcpg .sa    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Affix */
.pcpg .sb    { color: var(--base0c,#{{ base0C-hex }}) } /* Literal.String.Backtick */
.pcpg .sc    { color: var(--base0c,#{{ base0C-hex }}) } /* Literal.String.Char */
.pcpg .dl    { color: var(--base04,#{{ base04-hex }}) } /* Literal.String.Delimiter */
.pcpg .sd    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Doc */
.pcpg .s2    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Double */
.pcpg .se    { color: var(--base0c,#{{ base0C-hex }}) } /* Literal.String.Escape */
.pcpg .sh    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Heredoc */
.pcpg .si    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Interpol */
.pcpg .sx    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Other */
.pcpg .sr    { color: var(--base0c,#{{ base0C-hex }}); font-weight: bold } /* Literal.String.Regex */
.pcpg .s1    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Single */
.pcpg .ss    { color: var(--base0b,#{{ base0B-hex }}) } /* Literal.String.Symbol */
.pcpg .bp    { color: var(--base0e,#{{ base0E-hex }}) } /* Name.Builtin.Pseudo */
.pcpg .fm    { color: var(--base0d,#{{ base0D-hex }}) } /* Name.Function.Magic */
.pcpg .vc    { color: var(--base0a,#{{ base0A-hex }}) } /* Name.Variable.Class */
.pcpg .vg    { color: var(--base08,#{{ base08-hex }}) } /* Name.Variable.Global */
.pcpg .vi    { color: var(--base08,#{{ base08-hex }}) } /* Name.Variable.Instance */
.pcpg .vm    { color: var(--base08,#{{ base08-hex }}); font-weight: bold } /* Name.Variable.Magic */
.pcpg .il    { color: var(--base09,#{{ base09-hex }}) } /* Literal.Number.Integer.Long */