{{!
Note the transition from uppercase hex (what the base16 builder wants)
to lowercase var names (more in tune with CSS)
}}
/* Base16 {{scheme-name}}
 * Scheme author: {{scheme-author}}
 * For the TagBlog PicoCMS theme
 * {framagit,notabug}.org/ohnonot/tagblog
 */
:root {
    --base00: #{{base00-hex}};
    --base01: #{{base01-hex}};
    --base02: #{{base02-hex}};
    --base03: #{{base03-hex}};
    --base04: #{{base04-hex}};
    --base05: #{{base05-hex}};
    --base06: #{{base06-hex}};
    --base07: #{{base07-hex}};
    --base08: #{{base08-hex}};
    --base09: #{{base09-hex}};
    --base0a: #{{base0A-hex}};
    --base0b: #{{base0B-hex}};
    --base0c: #{{base0C-hex}};
    --base0d: #{{base0D-hex}};
    --base0e: #{{base0E-hex}};
    --base0f: #{{base0F-hex}};
}